body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(204, 215, 221); */
 
  /* color: #fe480c */
  /* background: #3c7d26; */
  /* background: #63c344; */
}


code {
  color: rgba(173, 186, 171, 0.848);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
